* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e5d3f3;
    color: #222;
}

main {
    width: 90%;
    margin: 4% auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px
}

.hero {
    display: flex;
    gap: 20px;
    margin-bottom: 4px;
}

.hero-text {
    flex: 1;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 2%;
}

nav {
    margin-bottom: 60px;
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    color: #4b0082;
    font-weight: 500px;
}

h1, h3 {
    color: #4b0082;
    margin-bottom: 4px;
}

.h1 {
    font-size: 40px;
    font-weight: bold;
}

.h3 {
    font-size: 20px;
    font-style: bold;
}

.hero-text p {
    font-style: italic;
    color: #444;
    margin-top: 60px;
 
}
h4 {
    font-size: 30px;
    font-weight: bold;
    color: #ccc;
    margin-top: 20px;
}
.hero-img img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    float: right;
}

.biography {
    margin: 5%;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

.profesi {
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.bio-column {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.bio-col {
    flex: 1;
    min-width: 280px;
}

.bio-col img {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.iconic {
    margin: 5%;
}

.iconic-right {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}

.profesi-right {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.iconic-content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.iconic-img{
    display: flex;
}

.iconic-img img {
    max-width: 300px;
    border-radius: 8px;
}

.iconic-text {
    flex: 1;
    border-radius: 8px;
}

.iconic-text2 {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.iconic-text img{
    flex: 1;
    margin-top: 10px;
    max-width: 220px;
    border-radius: 8px;
}

.gallery {
    margin: 5%;
  
}

.gallery-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.gallery-info {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.main-card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.card {
    position: relative;
    width: 230px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    background: linear-gradient(to top, rgba(0, 0, 1, 4), transparent);
    z-index: 2;
}

.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ecebeb;
    z-index: 2;
}

.card-text {
    z-index: 3;
    margin-bottom: 10px;
}

.card-content h5 {
    font-size: 24px;
    font-style: bold;
    margin-bottom: 4px;
}

.card-content h6 {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-info {
    font-size: 12px;
    font-style: italic;
    margin-right: 8%;
}

.card-info a {
    color: rgb(132, 201, 239);
}





